<!--
  Generated template for the AgendaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [hidden]="!showToolbar">
  
  <ion-navbar hideBackButton [class.show-background]="showToolbar">
      <ion-buttons start>
          <button ion-button tappable (click)="back()"><ion-icon color='light' class='menuButton' name="ios-arrow-back" item-right></ion-icon></button>
        </ion-buttons>
        <ion-buttons start>
            <button class='profileTxt' ion-button>{{trip.location}}</button>
          </ion-buttons>
          <ion-buttons end>
              <button ion-button tappable (click)="menu()"><ion-icon color='light' class='menuButton' name="ios-more-outline" item-right></ion-icon></button>
            </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-header hidebackbutton [hidden]="showToolbar">
    <ion-navbar hideBackButton class='tool'>
       <ion-buttons start>
        <button ion-button tappable (click)="back()"><ion-icon color='light' class='menuButton' name="ios-arrow-back" item-right></ion-icon></button>
      </ion-buttons>
      <ion-buttons start>
          <button class='profileTxt' ion-button>{{trip.location}}</button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button tappable (click)="menu()"><ion-icon color='light' class='menuButton' name="ios-more-outline" item-right></ion-icon></button>
          </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content  class="content"
(ionScroll)="onScroll($event)"
[class.transition]="transition">
  <div>
<div class='img' tappable (click)='addEvent()'>
     <h2>$+</h2>
        </div>
<div class='wrapper'> 
    <div class='bg'>
      <div class='wrapper2'>
          <ion-grid class='halfway'>
              <ion-row>
                  <ion-col>
                      <h1 class='profileName'>Budget</h1>
                  </ion-col>
                </ion-row>
              <ion-row>
                <ion-col>
                    <p class='userName'>Total: {{trip.cost}} USD</p>
                </ion-col>
              </ion-row>
            </ion-grid>
      </div>
      <img class='bgImg' src='{{trip.img}}'/>
    </div>
</div>
<ion-segment mode='md' [(ngModel)]="view" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="0">
      Overview
    </ion-segment-button>
    <ion-segment-button value="1">
      Make Payment
    </ion-segment-button>
    <ion-segment-button value="2">
      History
      </ion-segment-button>
  </ion-segment>
  <ion-list-header no-lines style="text-align:center;">
      <h2>{{this.remaining}}</h2>
  </ion-list-header>
  <ion-item no-lines style='padding:0; margin:0;'>
      <canvas #doughnutCanvas>
      </canvas>
  </ion-item>
  <ion-list-header no-lines mode='md' center style='text-align:center;'>
    <h2>Categories</h2>
  </ion-list-header>
            <canvas #doughnutCanvasAdventure>
              </canvas>
 <ion-row>
   <ion-item class='alert' text-wrap no-lines *ngIf='remaining == trip.cost'>
   Looks like you haven't allocated any funds yet. Add an event to your itenerary here!
   </ion-item>
 </ion-row>
 <ion-list-header no-lines mode='md'>
  <h2 item-left>Itenerary Overview</h2>
  <button item-right ion-button clear item-right icon-only (click)='addEvent()'>
      <ion-icon color='primary' name='add-circle'></ion-icon>
  </button>
 </ion-list-header>
 <ion-item no-lines>
   <p style='text-align:center' *ngIf='!trip.events || trip.events.length<=0'>No events to show at this time.</p>
 </ion-item>
</div>
</ion-content>
