/*
DEV: Monique Nichols
Product: Nautical
File: Settings.scss (Settings page)
Last Modified: 12/18/2017
*/
/* This page styles the setttings page*/
page-settings {
//class img: styles img wrapper for user photo and add photo icon
.img{
  height: 12vh;
  width: 100%;
  top:35vh;
  position: absolute;
  z-index: 5;
text-align: right;
  object-fit: cover;
  display: table;
  margin: 0 auto;
}
//class profileImg: styles user's profile image
.profileImg{  
  width:12vh !important;
  height: 12vh !important;
  border-radius: 50%;
  object-fit: cover;
}
//class addPic: styles add pic fab
.addPic{
  height: 3.5vh;
  width: 3.5vh;
  bottom:0;
  right:0;
  position: absolute;
  ion-icon{
      font-size:3vh;
  }
}
//class wrapper: wraps bg image and overlay
.wrapper{
  height: 45vh;
  width: 100%;
  top:0;
  left:0;
  background-color: rgba(10,10,10,0.5);
  position: relative !important;
  z-index: 3 !important;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}
//class bg: angled div at top
.bg{
width: 100%;
height:45vh;
position: relative;
}
//class wrapper2:overlay
.wrapper2{
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background-color: rgba(10,10,10,0.5);
  position: absolute !important;
  z-index: 3 !important;
 text-align: left;
 padding-left: 4vh; 
}
//class profileName: styles profile name text
.profileName{
  color:white;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: Roboto;
  margin:0!important;
  padding: 0!important;
}
//class userName: styles username text
.userName{
  font-family: Roboto;
  font-size: 3vh;
  color:rgba(255,255,255,.7);
  padding-top:0!important;
   margin-top:0!important;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);   
}
//class bgImg: styles generic bgImg
.bgImg{
min-width: 100%;
min-height:100%;
object-fit:cover;
position: relative;
}
//class list: styles list of user options
.list{             
  z-index: 3;
  position: relative;
}
//class item: styles item in list of user options
.item{
  text-align: center;
}
//class listHeader: styles list header for user options list
.listHeader{
  font-size: 3vh;
  font-family: Roboto;
  color:rgba(0, 0, 0, .7);
  margin-bottom:1.5vh;
}
//class wrapper3: styles wrapper that holds underline detail
.wrapper3{
  width:100%;
  height: 100%;
  text-align: center !important;
}
//class underline: styles underline detail div in the list header
.underLine{
  margin: auto;
  width: 50%;
    height: 2px;
    width: 10vh;
    background-color: orange;
}
//class listTxt: styles list item titles
.listTxt{
  font-size: 3vh;
  font-family: Roboto;
  color:rgba(0, 0, 0, .4);
}
//class listTxt2: styles list item subtitles
listTxt2{
  font-size: 3vh;
  font-family: Roboto;
  color:rgba(0, 0, 0, .7);
}
}
    